@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css");

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
